{% load bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <title>Memory</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    </head>
    <body>

      <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

        <a class="navbar-brand" href="{% url 'memories:index'%}">
          Memory</a>

        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'memories:logout'%}">
          Выйти из аккаунта</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'memories:login'%}">
          Войти с помощью Facebook/VK</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <div class="row">
              <div class="col-sm-12 mb-3">
                <h4 class="text-center"> Привет, {{ user.username }} !   </h4>
              </div>
            </div>
            {% endif %}
          </ul>
          {% for auth in backends.associated %}

            {% if auth.provider == 'facebook' %}
              <div class="col-md-6 text-center">
                  <img src="{{auth.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
              </div>
              <div class="col-md-6 social-container my-2">
                  <p>Вошел через: {{ auth.provider }}</p>
                  <p>Имя: {{ auth.extra_data.name }}</p>
                  <p>Профиль в facebook: <a href="{{auth.extra_data.profile_url}}">ссылка</a></p>
              </div>
            {% endif %}

          {% endfor %}
        </div>
      </nav>

      <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
          {% block page_header %}{% endblock page_header %}
        </div>
        <div>
          {% block content %}{% endblock content %}
        </div>
      </main>

    </body>
</html>